@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');
p#click {
    font-size: 50px;
    font-family: "Montserrat";
    font-weight: 700;
    display: flex;
    justify-content: center;
    border: solid 1px black;
}
p#number {
    font-size: 30px;
    font-family: "Montserrat";
    font-weight: 700;
    display: flex;
    justify-content: center;
}
